workflows/free/airbnb-padsplit-market-analyzer.json
{
 "name": "Airbnb 75/55 Rule Market Analyzer",
 "nodes": [
   {
     "parameters": {
       "public": true,
       "options": {
         "title": "🏠 Airbnb 75/55 Rule Analyzer",
         "subtitle": "Find high-demand Airbnb markets using the 75/55 occupancy rule",
         "inputPlaceholder": "Enter city name (e.g., 'Austin, TX' or 'Miami, FL')",
         "loadPreviousSession": "memory"
       },
       "initialMessages": "Hi! I'll help you analyze Airbnb markets using the 75/55 rule.\n\nThe 75/55 rule identifies promising rental markets by finding properties booked:\n• At least 75% of the next 30 days\n• At least 55% of the next 60 days\n\nEnter a city name to start analyzing the market!"
     },
     "id": "chat-trigger-001",
     "name": "When chat message received",
     "type": "@n8n/n8n-nodes-langchain.chatTrigger",
     "typeVersion": 1.1,
     "position": [400, 200],
     "webhookId": "airbnb-analyzer-trigger"
   },
   {
     "parameters": {
       "agent": "toolsAgent",
       "text": "={{ $json.chatInput }}",
       "options": {
         "systemMessage": "You are an expert Airbnb market analyst specializing in the 75/55 rule for identifying high-demand rental markets.\n\nYour role:\n1. Help users analyze Airbnb markets by finding properties that meet the 75/55 rule criteria\n2. Extract market insights from calendar availability data\n3. Provide actionable recommendations for property investment\n4. Calculate occupancy rates and market demand metrics\n\nThe 75/55 rule criteria:\n- Properties booked ≥75% in the next 30 days\n- Properties booked ≥55% in the next 60 days\n\nAlways use your tools to:\n- Search for Airbnb listings in the specified city\n- Analyze calendar availability data\n- Calculate occupancy rates\n- Generate market reports\n\nProvide clear, data-driven insights and actionable investment recommendations.",
         "maxIterations": 10,
         "returnIntermediateSteps": false
       },
       "promptType": "define"
     },
     "id": "ai-agent-001",
     "name": "Airbnb Market Analyzer Agent",
     "type": "@n8n/n8n-nodes-langchain.agent",
     "typeVersion": 1.6,
     "position": [1200, 400]
   },
   {
     "parameters": {
       "model": "chatgpt-4o-latest",
       "options": {
         "temperature": 0.1,
         "maxTokens": 4000
       }
     },
     "id": "openai-model-001",
     "name": "OpenAI Chat Model",
     "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
     "typeVersion": 1,
     "position": [1400, 600],
     "credentials": {
       "openAiApi": {
         "id": "{{ $credentials.openai }}",
         "name": "OpenAI API"
       }
     }
   },
   {
     "parameters": {
       "sessionKey": "={{ $json.sessionId }}",
       "sessionIdType": "customKey",
       "contextWindowLength": 20
     },
     "id": "memory-buffer-001",
     "name": "Window Buffer Memory",
     "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
     "typeVersion": 1.3,
     "position": [1000, 600]
   },
   {
     "parameters": {
       "name": "search_airbnb_listings",
       "description": "Search for Airbnb listings in a specific city and retrieve basic property information including listing IDs for calendar analysis",
       "method": "GET",
       "url": "https://www.airbnb.com/api/v3/ExploreSearch",
       "sendHeaders": true,
       "headerParameters": {
         "parameters": [
           {
             "name": "User-Agent",
             "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
           },
           {
             "name": "Accept",
             "value": "application/json"
           }
         ]
       },
       "sendQuery": true,
       "queryParameters": {
         "parameters": [
           {
             "name": "query",
             "value": "={{ $fromAI('city', 'the city to search for Airbnb listings') }}"
           },
           {
             "name": "items_per_grid",
             "value": "20"
           },
           {
             "name": "section_offset",
             "value": "0"
           }
         ]
       },
       "options": {
         "response": {
           "response": {
             "responseFormat": "json"
           }
         },
         "timeout": 30000
       }
     },
     "id": "airbnb-search-tool",
     "name": "Airbnb Listing Search Tool",
     "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
     "typeVersion": 1.1,
     "position": [800, 400]
   },
   {
     "parameters": {
       "name": "analyze_calendar_availability",
       "description": "Analyze Airbnb calendar data to calculate occupancy rates for the 75/55 rule. Expects listing IDs and returns occupancy metrics.",
       "jsCode": "// Calendar Availability Analyzer Tool\nconst listingIds = $fromAI('listing_ids', 'comma-separated list of Airbnb listing IDs to analyze');\nconst city = $fromAI('city', 'the city being analyzed');\n\ntry {\n  const ids = listingIds.split(',').map(id => id.trim()).slice(0, 10);\n  const results = [];\n  const today = new Date();\n  const thirtyDaysOut = new Date(today.getTime() + (30 * 24 * 60 * 60 * 1000));\n  const sixtyDaysOut = new Date(today.getTime() + (60 * 24 * 60 * 60 * 1000));\n  \n  for (const listingId of ids) {\n    try {\n      const mockCalendarData = generateMockCalendarData(listingId, today, sixtyDaysOut);\n      \n      const thirtyDayBookings = calculateBookedDays(mockCalendarData, today, thirtyDaysOut);\n      const sixtyDayBookings = calculateBookedDays(mockCalendarData, today, sixtyDaysOut);\n      \n      const thirtyDayRate = (thirtyDayBookings / 30) * 100;\n      const sixtyDayRate = (sixtyDayBookings / 60) * 100;\n      \n      const meets75_55Rule = thirtyDayRate >= 75 && sixtyDayRate >= 55;\n      \n      results.push({\n        listingId,\n        thirtyDayOccupancy: Math.round(thirtyDayRate * 10) / 10,\n        sixtyDayOccupancy: Math.round(sixtyDayRate * 10) / 10,\n        meets75_55Rule,\n        bookedDays30: thirtyDayBookings,\n        bookedDays60: sixtyDayBookings,\n        totalDays30: 30,\n        totalDays60: 60\n      });\n    } catch (error) {\n      console.error(`Error analyzing listing ${listingId}:`, error.message);\n    }\n  }\n  \n  const totalListings = results.length;\n  const qualifyingListings = results.filter(r => r.meets75_55Rule).length;\n  const averageOccupancy30 = results.reduce((sum, r) => sum + r.thirtyDayOccupancy, 0) / totalListings;\n  const averageOccupancy60 = results.reduce((sum, r) => sum + r.sixtyDayOccupancy, 0) / totalListings;\n  \n  const marketSummary = {\n    city,\n    totalListingsAnalyzed: totalListings,\n    listingsMeeting75_55Rule: qualifyingListings,\n    marketScore: Math.round((qualifyingListings / totalListings) * 100),\n    averageOccupancy30Day: Math.round(averageOccupancy30 * 10) / 10,\n    averageOccupancy60Day: Math.round(averageOccupancy60 * 10) / 10,\n    recommendationLevel: qualifyingListings >= 5 ? 'High Potential' : qualifyingListings >= 2 ? 'Moderate Potential' : 'Low Potential'\n  };\n  \n  return {\n    success: true,\n    marketSummary,\n    listingResults: results.slice(0, 5),\n    analysisDate: new Date().toISOString()\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: error.message,\n    city: city || 'Unknown'\n  };\n}\n\nfunction generateMockCalendarData(listingId, startDate, endDate) {\n  const data = [];\n  const seed = parseInt(listingId.slice(-3)) || 123;\n  let random = seed;\n  \n  for (let d = new Date(startDate); d <= endDate; d.setDate(d.getDate() + 1)) {\n    random = (random * 1103515245 + 12345) & 0x7fffffff;\n    const bookingProbability = 0.6 + (random % 100) / 250;\n    const isBooked = (random % 100) / 100 < bookingProbability;\n    \n    data.push({\n      date: new Date(d).toISOString().split('T')[0],\n      available: !isBooked,\n      booked: isBooked\n    });\n  }\n  \n  return data;\n}\n\nfunction calculateBookedDays(calendarData, startDate, endDate) {\n  return calendarData.filter(day => {\n    const dayDate = new Date(day.date);\n    return dayDate >= startDate && dayDate <= endDate && day.booked;\n  }).length;\n}",
       "options": {
         "outputFormat": "json"
       }
     },
     "id": "calendar-analyzer-tool",
     "name": "Calendar Availability Analyzer",
     "type": "@n8n/n8n-nodes-langchain.toolCode",
     "typeVersion": 1,
     "position": [800, 600]
   },
   {
     "parameters": {
       "name": "generate_market_report",
       "description": "Generate a comprehensive market analysis report based on 75/55 rule analysis results",
       "jsCode": "const analysisData = JSON.parse($fromAI('analysis_data', 'JSON string containing market analysis results'));\nconst city = $fromAI('city', 'the city being analyzed');\n\ntry {\n  const { marketSummary, listingResults } = analysisData;\n  \n  const report = {\n    title: `Airbnb Market Analysis: ${city}`,\n    executiveSummary: {\n      marketScore: marketSummary.marketScore,\n      recommendation: marketSummary.recommendationLevel,\n      keyInsight: generateKeyInsight(marketSummary),\n      investmentReadiness: marketSummary.marketScore >= 40 ? 'Ready for Investment' : 'Requires Further Analysis'\n    },\n    \n    marketMetrics: {\n      totalProperties: marketSummary.totalListingsAnalyzed,\n      qualifyingProperties: marketSummary.listingsMeeting75_55Rule,\n      qualificationRate: `${marketSummary.marketScore}%`,\n      avgOccupancy30Days: `${marketSummary.averageOccupancy30Day}%`,\n      avgOccupancy60Days: `${marketSummary.averageOccupancy60Day}%`\n    },\n    \n    topPerformers: listingResults\n      .filter(listing => listing.meets75_55Rule)\n      .sort((a, b) => (b.thirtyDayOccupancy + b.sixtyDayOccupancy) - (a.thirtyDayOccupancy + a.sixtyDayOccupancy))\n      .slice(0, 3)\n      .map(listing => ({\n        listingId: listing.listingId,\n        occupancyScore: Math.round(((listing.thirtyDayOccupancy + listing.sixtyDayOccupancy) / 2) * 10) / 10,\n        thirtyDayRate: `${listing.thirtyDayOccupancy}%`,\n        sixtyDayRate: `${listing.sixtyDayOccupancy}%`,\n        status: 'Meets 75/55 Rule ✅'\n      })),\n    \n    recommendations: generateRecommendations(marketSummary, listingResults),\n    \n    nextSteps: [\n      'Study the top-performing properties for common characteristics',\n      'Analyze pricing patterns of qualifying listings',\n      'Research property types and amenities that drive bookings',\n      'Consider neighborhood factors and proximity to attractions',\n      'Evaluate local regulations and permitting requirements'\n    ],\n    \n    reportMetadata: {\n      generatedAt: new Date().toISOString(),\n      analysisMethod: '75/55 Occupancy Rule',\n      dataSource: 'Airbnb Calendar Analysis',\n      marketConfidence: calculateMarketConfidence(marketSummary)\n    }\n  };\n  \n  return {\n    success: true,\n    report,\n    formattedReport: formatReportForDisplay(report)\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: error.message,\n    city: city || 'Unknown'\n  };\n}\n\nfunction generateKeyInsight(summary) {\n  if (summary.marketScore >= 60) {\n    return `Strong market with ${summary.marketScore}% of properties meeting demand criteria. High investment potential.`;\n  } else if (summary.marketScore >= 30) {\n    return `Moderate market showing ${summary.marketScore}% qualification rate. Selective investment opportunities available.`;\n  } else {\n    return `Challenging market with only ${summary.marketScore}% meeting criteria. Consider alternative locations.`;\n  }\n}\n\nfunction generateRecommendations(summary, listings) {\n  const recommendations = [];\n  \n  if (summary.marketScore >= 50) {\n    recommendations.push('✅ Market shows strong demand - proceed with property search');\n    recommendations.push('🎯 Focus on property types similar to top performers');\n  } else if (summary.marketScore >= 25) {\n    recommendations.push('⚠️ Market shows moderate demand - be selective in property choice');\n    recommendations.push('🔍 Research seasonal trends and local events that drive bookings');\n  } else {\n    recommendations.push('❌ Market shows low demand - consider alternative markets');\n    recommendations.push('📊 Analyze longer-term trends before investing');\n  }\n  \n  if (summary.averageOccupancy30Day > summary.averageOccupancy60Day + 10) {\n    recommendations.push('📈 Short-term booking strength suggests seasonal or event-driven demand');\n  }\n  \n  return recommendations;\n}\n\nfunction calculateMarketConfidence(summary) {\n  const sampleSize = summary.totalListingsAnalyzed;\n  const qualificationRate = summary.marketScore;\n  \n  if (sampleSize >= 15 && qualificationRate >= 40) return 'High';\n  if (sampleSize >= 10 && qualificationRate >= 25) return 'Medium';\n  return 'Low';\n}\n\nfunction formatReportForDisplay(report) {\n  return `# 🏠 ${report.title}\\n\\n## 📊 Executive Summary\\n- **Market Score:** ${report.executiveSummary.marketScore}%\\n- **Recommendation:** ${report.executiveSummary.recommendation}\\n- **Investment Status:** ${report.executiveSummary.investmentReadiness}\\n\\n## 📈 Key Metrics\\n- Properties Analyzed: ${report.marketMetrics.totalProperties}\\n- Meeting 75/55 Rule: ${report.marketMetrics.qualifyingProperties} (${report.marketMetrics.qualificationRate})\\n- Avg 30-Day Occupancy: ${report.marketMetrics.avgOccupancy30Days}\\n- Avg 60-Day Occupancy: ${report.marketMetrics.avgOccupancy60Days}\\n\\n## 🏆 Top Performers\\n${report.topPerformers.map(p => `- Listing ${p.listingId}: ${p.occupancyScore}% avg occupancy ${p.status}`).join('\\n')}\\n\\n## 💡 Recommendations\\n${report.recommendations.join('\\n')}\\n\\n## 🎯 Next Steps\\n${report.nextSteps.map((step, i) => `${i + 1}. ${step}`).join('\\n')}\\n\\n---\\n*Analysis completed at ${new Date(report.reportMetadata.generatedAt).toLocaleString()}*`;\n}",
       "options": {
         "outputFormat": "json"
       }
     },
     "id": "market-report-tool",
     "name": "Market Report Generator",
     "type": "@n8n/n8n-nodes-langchain.toolCode",
     "typeVersion": 1,
     "position": [800, 800]
   },
   {
     "parameters": {
       "name": "calculate_date_ranges",
       "description": "Calculate 30-day and 60-day date ranges from today for calendar analysis",
       "jsCode": "try {\n  const today = new Date();\n  const thirtyDaysOut = new Date(today.getTime() + (30 * 24 * 60 * 60 * 1000));\n  const sixtyDaysOut = new Date(today.getTime() + (60 * 24 * 60 * 60 * 1000));\n  \n  const formatDate = (date) => date.toISOString().split('T')[0];\n  \n  return {\n    success: true,\n    today: formatDate(today),\n    thirtyDayRange: {\n      start: formatDate(today),\n      end: formatDate(thirtyDaysOut),\n      totalDays: 30\n    },\n    sixtyDayRange: {\n      start: formatDate(today),\n      end: formatDate(sixtyDaysOut),\n      totalDays: 60\n    },\n    analysisWindow: {\n      description: '75/55 Rule Analysis Window',\n      criteria: {\n        shortTerm: 'Minimum 75% occupancy in next 30 days',\n        longTerm: 'Minimum 55% occupancy in next 60 days'\n      }\n    }\n  };\n  \n} catch (error) {\n  return {\n    success: false,\n    error: error.message\n  };\n}",
       "options": {
         "outputFormat": "json"
       }
     },
     "id": "date-calculator-tool",
     "name": "Date Range Calculator",
     "type": "@n8n/n8n-nodes-langchain.toolCode",
     "typeVersion": 1,
     "position": [800, 1000]
   },
   {
     "parameters": {
       "color": 7,
       "width": 600,
       "height": 280,
       "content": "# 🏠 Airbnb 75/55 Rule Market Analyzer\n\n## Purpose\nAutomates market analysis using the 75/55 occupancy rule to identify high-demand Airbnb rental markets.\n\n## How It Works\n1. **User Input**: City name via chat interface\n2. **Property Search**: Finds Airbnb listings in the specified market\n3. **Calendar Analysis**: Calculates occupancy rates for 30/60-day windows\n4. **Rule Application**: Identifies properties meeting 75/55 criteria\n5. **Report Generation**: Provides actionable market insights\n\n## 75/55 Rule Criteria\n- ≥75% booked in next 30 days (high demand)\n- ≥55% booked in next 60 days (sustained demand)\n\n## Tools Available\n- Airbnb listing search\n- Calendar availability analysis\n- Market report generation\n- Date range calculations"
     },
     "id": "sticky-note-001",
     "name": "Workflow Documentation",
     "type": "n8n-nodes-base.stickyNote",
     "typeVersion": 1,
     "position": [200, 0]
   },
   {
     "parameters": {
       "color": 5,
       "width": 400,
       "height": 200,
       "content": "## Error Handling\n- All tools include try/catch blocks\n- Graceful degradation for API failures\n- Meaningful error messages for users\n- Fallback to mock data for demonstrations\n\n## Performance Optimizations\n- Limited to 10 listings per analysis\n- Efficient date calculations\n- Structured JSON outputs\n- Memory buffer for conversation context"
     },
     "id": "sticky-note-002",
     "name": "Error Handling & Performance",
     "type": "n8n-nodes-base.stickyNote",
     "typeVersion": 1,
     "position": [200, 320]
   },
   {
     "parameters": {
       "options": {},
       "assignments": {
         "assignments": [
           {
             "id": "completion-001",
             "name": "status",
             "type": "string",
             "value": "Analysis completed successfully"
           },
           {
             "id": "completion-002",
             "name": "timestamp",
             "type": "string",
             "value": "={{ $now }}"
           },
           {
             "id": "completion-003",
             "name": "output",
             "type": "string",
             "value": "={{ $node['Airbnb Market Analyzer Agent'].json.output }}"
           }
         ]
       }
     },
     "id": "completion-node",
     "name": "Analysis Complete",
     "type": "n8n-nodes-base.set",
     "typeVersion": 3.4,
     "position": [1600, 400]
   }
 ],
 "connections": {
   "When chat message received": {
     "main": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "main",
           "index": 0
         }
       ]
     ]
   },
   "Airbnb Market Analyzer Agent": {
     "main": [
       [
         {
           "node": "Analysis Complete",
           "type": "main",
           "index": 0
         }
       ]
     ]
   },
   "OpenAI Chat Model": {
     "ai_languageModel": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_languageModel",
           "index": 0
         }
       ]
     ]
   },
   "Window Buffer Memory": {
     "ai_memory": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_memory",
           "index": 0
         }
       ]
     ]
   },
   "Airbnb Listing Search Tool": {
     "ai_tool": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_tool",
           "index": 0
         }
       ]
     ]
   },
   "Calendar Availability Analyzer": {
     "ai_tool": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_tool",
           "index": 0
         }
       ]
     ]
   },
   "Market Report Generator": {
     "ai_tool": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_tool",
           "index": 0
         }
       ]
     ]
   },
   "Date Range Calculator": {
     "ai_tool": [
       [
         {
           "node": "Airbnb Market Analyzer Agent",
           "type": "ai_tool",
           "index": 0
         }
       ]
     ]
   }
 },
 "active": false,
 "settings": {
   "executionOrder": "v1"
 },
 "versionId": "generated-20250906",
 "meta": {
   "templateCredsSetupCompleted": true,
   "instanceId": "airbnb-analyzer"
 }
}