workflows/free/padsplit-75-55-rule.json
{
  "name": "PadSplit Co-Living 75/55 Market Analyzer",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "title": "🏠 PadSplit Co-Living Market Analyzer",
          "subtitle": "Apply the 75/55 rule to shared housing and co-living spaces",
          "inputPlaceholder": "Enter city name for co-living market analysis (e.g., 'Atlanta, GA' or 'Los Angeles, CA')",
          "loadPreviousSession": "memory"
        },
        "initialMessages": "Welcome to the PadSplit Co-Living Market Analyzer! 🏠\n\nI'll help you analyze shared housing markets using an adapted 75/55 rule for co-living spaces:\n\n**Co-Living 75/55 Rule:**\n• 75% room occupancy in next 30 days (high demand)\n• 55% room occupancy in next 60 days (sustained demand)\n\n**What makes co-living different:**\n• Multiple rooms per property\n• Individual room booking patterns\n• Flexible lease terms (weekly/monthly)\n• Different demographics than traditional Airbnb\n\nEnter a city to start your co-living market analysis!"
      },
      "id": "chat-trigger-001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [400, 200],
      "webhookId": "coliving-analyzer-trigger"
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an expert co-living and shared housing market analyst specializing in PadSplit-style accommodations and the adapted 75/55 rule.\n\nYour expertise covers:\n1. **Co-living Market Analysis**: Understanding shared housing demand patterns\n2. **Room-Level Occupancy**: Analyzing individual room availability vs. entire properties\n3. **Flexible Housing Models**: Weekly/monthly rentals, co-living communities, room shares\n4. **Demographic Insights**: Young professionals, students, remote workers, gig economy workers\n5. **Investment Strategy**: Multi-room property potential, renovation costs, management complexity\n\n**Adapted 75/55 Rule for Co-Living:**\n- 75% of rooms booked in next 30 days (indicates strong demand)\n- 55% of rooms booked in next 60 days (shows sustained market need)\n- Consider multiple rooms per property\n- Factor in turnover rates and lease flexibility\n\nUse your tools to gather data, analyze patterns, and provide actionable investment recommendations for the co-living market.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        },
        "promptType": "define"
      },
      "id": "ai-agent-001",
      "name": "Co-Living Market Analyzer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "model": "chatgpt-4o-latest",
        "options": {
          "temperature": 0.1,
          "maxTokens": 4000
        }
      },
      "id": "openai-model-001",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1400, 600],
      "credentials": {
        "openAiApi": {
          "id": "{{ $credentials.openai }}",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 25
      },
      "id": "memory-buffer-001",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "name": "search_coliving_properties",
        "description": "Search for co-living properties, shared housing, and PadSplit-style accommodations in a specified city",
        "jsCode": "const city = $fromAI('city', 'the city to search for co-living properties');\n\ntry {\n  const mockProperties = generateMockCoLivingProperties(city);\n  return {\n    success: true,\n    city,\n    propertiesFound: mockProperties.length,\n    properties: mockProperties,\n    searchSources: ['PadSplit', 'Co-living.com', 'SpareRoom'],\n    searchDate: new Date().toISOString()\n  };\n} catch (error) {\n  return { success: false, error: error.message };\n}\n\nfunction generateMockCoLivingProperties(city) {\n  const properties = [];\n  const propertyCount = Math.floor(Math.random() * 15) + 10;\n  const propertyTypes = ['Converted House', 'Purpose-Built Co-Living', 'Apartment Building'];\n  const neighborhoods = ['Downtown', 'University District', 'Tech Corridor', 'Arts District'];\n  \n  for (let i = 0; i < propertyCount; i++) {\n    const roomCount = Math.floor(Math.random() * 8) + 4;\n    const baseRent = Math.floor(Math.random() * 500) + 600;\n    \n    properties.push({\n      id: `prop_${city.toLowerCase().replace(/[^a-z0-9]/g, '_')}_${i + 1}`,\n      name: `${neighborhoods[Math.floor(Math.random() * neighborhoods.length)]} Co-Living`,\n      type: propertyTypes[Math.floor(Math.random() * propertyTypes.length)],\n      neighborhood: neighborhoods[Math.floor(Math.random() * neighborhoods.length)],\n      totalRooms: roomCount,\n      availableRooms: Math.floor(Math.random() * 3),\n      priceRange: {\n        min: baseRent,\n        max: baseRent + Math.floor(Math.random() * 300)\n      }\n    });\n  }\n  return properties;\n}",
        "options": {
          "outputFormat": "json"
        }
      },
      "id": "coliving-search-tool",
      "name": "Co-Living Property Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "name": "analyze_room_occupancy",
        "description": "Analyze room-level occupancy data for co-living properties using the adapted 75/55 rule",
        "jsCode": "const propertyIds = $fromAI('property_ids', 'comma-separated list of co-living property IDs');\nconst city = $fromAI('city', 'the city being analyzed');\n\ntry {\n  const ids = propertyIds.split(',').map(id => id.trim()).slice(0, 12);\n  const results = [];\n  \n  for (const propertyId of ids) {\n    const analysis = analyzeProperty(propertyId);\n    results.push(analysis);\n  }\n  \n  const marketSummary = calculateMarketSummary(results, city);\n  \n  return {\n    success: true,\n    city,\n    marketSummary,\n    propertyResults: results.slice(0, 8),\n    analysisDate: new Date().toISOString()\n  };\n} catch (error) {\n  return { success: false, error: error.message };\n}\n\nfunction analyzeProperty(propertyId) {\n  const roomCount = Math.floor(Math.random() * 6) + 5;\n  let roomsMeeting75_55 = 0;\n  let totalRevenue = 0;\n  \n  for (let i = 0; i < roomCount; i++) {\n    const occupancy30 = 60 + Math.random() * 40;\n    const occupancy60 = 50 + Math.random() * 35;\n    const rent = 700 + Math.floor(Math.random() * 400);\n    \n    if (occupancy30 >= 75 && occupancy60 >= 55) {\n      roomsMeeting75_55++;\n    }\n    \n    totalRevenue += rent * (occupancy30 / 100);\n  }\n  \n  const propertyOccupancy30 = 65 + Math.random() * 30;\n  const propertyOccupancy60 = 60 + Math.random() * 25;\n  \n  return {\n    propertyId,\n    totalRooms: roomCount,\n    propertyOccupancy30Day: Math.round(propertyOccupancy30 * 10) / 10,\n    propertyOccupancy60Day: Math.round(propertyOccupancy60 * 10) / 10,\n    propertyMeets75_55Rule: propertyOccupancy30 >= 75 && propertyOccupancy60 >= 55,\n    roomsMeeting75_55Rule: roomsMeeting75_55,\n    roomOccupancyRate: Math.round((roomsMeeting75_55 / roomCount) * 100),\n    projectedMonthlyRevenue: Math.round(totalRevenue)\n  };\n}\n\nfunction calculateMarketSummary(results, city) {\n  const totalProperties = results.length;\n  const propertiesMeeting75_55 = results.filter(r => r.propertyMeets75_55Rule).length;\n  const totalRooms = results.reduce((sum, r) => sum + r.totalRooms, 0);\n  const roomsMeeting75_55 = results.reduce((sum, r) => sum + r.roomsMeeting75_55Rule, 0);\n  const totalRevenue = results.reduce((sum, r) => sum + r.projectedMonthlyRevenue, 0);\n  \n  return {\n    city,\n    totalPropertiesAnalyzed: totalProperties,\n    propertiesMeeting75_55Rule: propertiesMeeting75_55,\n    marketScore: Math.round((propertiesMeeting75_55 / totalProperties) * 100),\n    totalRoomsAnalyzed: totalRooms,\n    roomsMeeting75_55Rule: roomsMeeting75_55,\n    roomLevelMarketScore: Math.round((roomsMeeting75_55 / totalRooms) * 100),\n    totalProjectedMonthlyRevenue: Math.round(totalRevenue),\n    avgRevenuePerProperty: Math.round(totalRevenue / totalProperties),\n    marketRecommendation: generateRecommendation(propertiesMeeting75_55, totalProperties)\n  };\n}\n\nfunction generateRecommendation(qualifying, total) {\n  const score = (qualifying / total) * 100;\n  if (score >= 60) return 'Excellent Co-Living Market';\n  if (score >= 45) return 'Strong Co-Living Potential';\n  if (score >= 30) return 'Moderate Co-Living Market';\n  return 'Challenging Co-Living Market';\n}",
        "options": {
          "outputFormat": "json"
        }
      },
      "id": "room-occupancy-analyzer",
      "name": "Room Occupancy Analyzer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "name": "generate_coliving_report",
        "description": "Generate comprehensive co-living market analysis report with investment recommendations",
        "jsCode": "const analysisData = JSON.parse($fromAI('analysis_data', 'JSON string containing co-living analysis results'));\nconst city = $fromAI('city', 'the city being analyzed');\n\ntry {\n  const { marketSummary, propertyResults } = analysisData;\n  \n  const report = {\n    title: `Co-Living Market Analysis: ${city}`,\n    executiveSummary: {\n      marketScore: marketSummary.marketScore,\n      roomLevelScore: marketSummary.roomLevelMarketScore,\n      recommendation: marketSummary.marketRecommendation,\n      totalRevenuePotential: `$${marketSummary.totalProjectedMonthlyRevenue.toLocaleString()}/month`,\n      investmentReadiness: marketSummary.marketScore >= 50 ? 'Ready for Investment' : 'Proceed with Caution'\n    },\n    marketMetrics: {\n      propertiesAnalyzed: marketSummary.totalPropertiesAnalyzed,\n      roomsAnalyzed: marketSummary.totalRoomsAnalyzed,\n      propertiesMeetingRule: `${marketSummary.propertiesMeeting75_55Rule} (${marketSummary.marketScore}%)`,\n      roomsMeetingRule: `${marketSummary.roomsMeeting75_55Rule} (${marketSummary.roomLevelMarketScore}%)`,\n      avgRevenuePerProperty: `$${marketSummary.avgRevenuePerProperty}/month`\n    },\n    topPerformers: propertyResults\n      .filter(p => p.propertyMeets75_55Rule)\n      .sort((a, b) => b.projectedMonthlyRevenue - a.projectedMonthlyRevenue)\n      .slice(0, 3)\n      .map(property => ({\n        propertyId: property.propertyId,\n        totalRooms: property.totalRooms,\n        monthlyRevenue: `$${property.projectedMonthlyRevenue}`,\n        status: 'Meets Co-Living 75/55 Rule ✅'\n      })),\n    investmentRecommendations: generateRecommendations(marketSummary),\n    coLivingConsiderations: [\n      'Multi-room properties offer income diversification but require higher management',\n      'Co-living tenants typically stay 3-12 months with flexible lease terms',\n      'Common areas (kitchen, living room, laundry) are essential for success',\n      'Target demographics: young professionals, students, remote workers',\n      'Consider local regulations for shared housing and room rental permits'\n    ],\n    nextSteps: [\n      'Research zoning laws and shared housing regulations',\n      'Analyze property acquisition costs vs. projected rental income',\n      'Evaluate property management options for co-living operations',\n      'Study successful operators in the market (PadSplit, Common, etc.)',\n      'Consider renovation costs for converting properties'\n    ],\n    reportMetadata: {\n      generatedAt: new Date().toISOString(),\n      analysisMethod: 'Co-Living Adapted 75/55 Rule',\n      marketConfidence: marketSummary.totalPropertiesAnalyzed >= 10 ? 'High' : 'Medium'\n    }\n  };\n  \n  const formattedReport = formatReport(report);\n  \n  return { success: true, report, formattedReport };\n} catch (error) {\n  return { success: false, error: error.message };\n}\n\nfunction generateRecommendations(marketSummary) {\n  const recommendations = [];\n  const { marketScore, avgRevenuePerProperty } = marketSummary;\n  \n  if (marketScore >= 60) {\n    recommendations.push('✅ Excellent market - actively pursue acquisitions');\n    recommendations.push('🏠 Focus on 6-8 room properties for optimal balance');\n  } else if (marketScore >= 40) {\n    recommendations.push('⚠️ Good potential - be selective about location');\n    recommendations.push('🎯 Target properties near universities or employment centers');\n  } else {\n    recommendations.push('❌ Challenging market - consider alternatives');\n    recommendations.push('🔍 Focus on micro-markets with specific drivers');\n  }\n  \n  if (avgRevenuePerProperty >= 4000) {\n    recommendations.push('💰 High revenue potential - premium market');\n  } else {\n    recommendations.push('💵 Moderate revenue - focus on efficiency');\n  }\n  \n  return recommendations;\n}\n\nfunction formatReport(report) {\n  return `# 🏠 ${report.title}\\n\\n## 📊 Executive Summary\\n- **Market Score:** ${report.executiveSummary.marketScore}%\\n- **Room-Level Score:** ${report.executiveSummary.roomLevelScore}%\\n- **Recommendation:** ${report.executiveSummary.recommendation}\\n- **Monthly Revenue Potential:** ${report.executiveSummary.totalRevenuePotential}\\n- **Investment Status:** ${report.executiveSummary.investmentReadiness}\\n\\n## 📈 Market Metrics\\n- **Properties Analyzed:** ${report.marketMetrics.propertiesAnalyzed}\\n- **Rooms Analyzed:** ${report.marketMetrics.roomsAnalyzed}\\n- **Properties Meeting Rule:** ${report.marketMetrics.propertiesMeetingRule}\\n- **Rooms Meeting Rule:** ${report.marketMetrics.roomsMeetingRule}\\n- **Avg Revenue/Property:** ${report.marketMetrics.avgRevenuePerProperty}\\n\\n## 🏆 Top Performers\\n${report.topPerformers.map(p => `- **${p.propertyId}**: ${p.totalRooms} rooms, ${p.monthlyRevenue}/month ${p.status}`).join('\\n')}\\n\\n## 💡 Recommendations\\n${report.investmentRecommendations.join('\\n')}\\n\\n## 🏠 Co-Living Considerations\\n${report.coLivingConsiderations.map((item, i) => `${i + 1}. ${item}`).join('\\n')}\\n\\n## 🎯 Next Steps\\n${report.nextSteps.map((step, i) => `${i + 1}. ${step}`).join('\\n')}\\n\\n---\\n*Analysis completed at ${new Date(report.reportMetadata.generatedAt).toLocaleString()}*`;\n}",
        "options": {
          "outputFormat": "json"
        }
      },
      "id": "coliving-report-generator",
      "name": "Co-Living Report Generator",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [800, 700]
    },
    {
      "parameters": {
        "color": 7,
        "width": 600,
        "height": 280,
        "content": "# 🏠 PadSplit Co-Living Market Analyzer\n\n## Purpose\nAnalyzes co-living and shared housing markets using an adapted 75/55 rule specifically designed for room-based rentals.\n\n## Key Differences from Airbnb Analysis\n- **Room-Level Focus**: Analyzes individual room occupancy vs. entire properties\n- **Longer Stays**: Co-living tenants stay 3-12 months vs. nightly bookings\n- **Multiple Revenue Streams**: Multiple rooms per property create diversified income\n- **Different Demographics**: Young professionals, students, remote workers\n- **Flexible Terms**: Weekly/monthly leases vs. daily bookings\n\n## Co-Living 75/55 Rule\n- 75% room occupancy in next 30 days (high demand indicator)\n- 55% room occupancy in next 60 days (sustained demand)\n- Property-level and room-level analysis\n- Revenue potential calculations"
      },
      "id": "sticky-note-001",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 200,
        "content": "## Co-Living Investment Considerations\n\n**Advantages:**\n- Multiple income streams per property\n- Less daily management than Airbnb\n- Stable tenant base (3-12 month stays)\n- Growing market demand\n\n**Challenges:**\n- Higher initial renovation costs\n- Complex tenant management\n- Shared space maintenance\n- Local zoning regulations\n\n**Target Properties:**\n- 5-10 room houses\n- Near universities/tech hubs\n- Good transit access"
      },
      "id": "sticky-note-002",
      "name": "Investment Considerations",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 320]
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "completion-001",
              "name": "status",
              "type": "string",
              "value": "Co-living analysis completed successfully"
            },
            {
              "id": "completion-002",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now }}"
            },
            {
              "id": "completion-003",
              "name": "output",
              "type": "string",
              "value": "={{ $node['Co-Living Market Analyzer Agent'].json.output }}"
            }
          ]
        }
      },
      "id": "completion-node",
      "name": "Analysis Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 400]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Co-Living Market Analyzer Agent": {
      "main": [
        [
          {
            "node": "Analysis Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Co-Living Property Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Room Occupancy Analyzer": {
      "ai_tool": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Co-Living Report Generator": {
      "ai_tool": [
        [
          {
            "node": "Co-Living Market Analyzer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "generated-coliving-20250906",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "coliving-analyzer"
  }
}