workflows/showcase/operations/maxxam-content-performance-report-SHOWCASE.json
{
  "name": "MAXXAM AI \u2014 Weekly Content Performance Report",
  "nodes": [
    {
      "id": "report-trigger-001",
      "name": "Schedule: Monday 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "report-sheets-001",
      "name": "Read: Content Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1kUfK-wGp_cauo2jApFdm7cj863W7iBYZR9A3qLmx4kE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content_Calendar",
          "mode": "name"
        },
        "dataLocationOnSheet": {
          "rangeDefinition": "detectAutomatically"
        },
        "outputFormatting": {
          "general": {
            "outputNumbersAs": "text"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dQbDlkXclK7YGOPI",
          "name": "MXAI - Google"
        }
      }
    },
    {
      "id": "report-calc-001",
      "name": "Filter & Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "// \u2500\u2500 MAXXAM AI \u2014 Redacted Implementation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Purpose: Process data at the Filter & Calculate Metrics stage\n// Inputs:  See upstream node output\n// Outputs: See downstream node input\n//\n// This node implements proprietary MAXXAM AI logic.\n// Full implementation is available to MAXXAM AI clients.\n//\n// \u2192 Book a discovery call: https://tinyurl.com/maxxam-call\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nreturn { json: {} }; // stub \u2014 see full implementation\n"
      }
    },
    {
      "id": "report-html-001",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "// \u2500\u2500 MAXXAM AI \u2014 Redacted Implementation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Purpose: Process data at the Build HTML Report stage\n// Inputs:  See upstream node output\n// Outputs: See downstream node input\n//\n// This node implements proprietary MAXXAM AI logic.\n// Full implementation is available to MAXXAM AI clients.\n//\n// \u2192 Book a discovery call: https://tinyurl.com/maxxam-call\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nreturn { json: {} }; // stub \u2014 see full implementation\n"
      }
    },
    {
      "id": "report-email-001",
      "name": "Send: Weekly Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "operation": "send",
        "sendTo": "reggie@maxxam.ai",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.reportHtml }}",
        "options": {
          "senderName": "Reginald Johnson \u2014 MAXXAM AI"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "tiDo2mWl07OMdITb",
          "name": "MXAI Gmail"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Monday 7AM": {
      "main": [
        [
          {
            "node": "Read: Content Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read: Content Calendar": {
      "main": [
        [
          {
            "node": "Filter & Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Calculate Metrics": {
      "main": [
        [
          {
            "node": "Build HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Report": {
      "main": [
        [
          {
            "node": "Send: Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "content",
    "reporting",
    "marketing"
  ]
}