workflows/showcase/content/telegram-image-poster-SHOWCASE.json
{
  "name": "MAXXAM AI \u2014 Telegram Image Bot (Flux \u2192 LinkedIn + Facebook + Instagram)",
  "nodes": [
    {
      "parameters": {
        "content": "## MAXXAM AI \u2014 Telegram Image Bot\n\n**What this does:**\nReceive a prompt via Telegram \u2192 Generate image with Flux (PiAPI) \u2192 Post to LinkedIn + Facebook + Instagram\n\n**One-time setup (5 steps):**\n\n**Step 1 \u2014 Telegram Bot credential**\n- In n8n: Credentials \u2192 New \u2192 Telegram API\n- Enter your Bot Token from @BotFather\n- Name it: `Telegram Bot`\n- Update the credential ID in the Telegram Trigger and Telegram Reply nodes\n\n**Step 2 \u2014 LinkedIn credential**\n- In n8n: Credentials \u2192 New \u2192 LinkedIn OAuth2\n- Complete OAuth flow\n- In **Post to LinkedIn** node \u2192 replace `YOUR_LINKEDIN_PERSON_URN`\n  (Find it: LinkedIn profile \u2192 More \u2192 Share \u2192 extract numeric ID at the end of the URL)\n\n**Step 3 \u2014 Facebook/Instagram token**\n- In n8n: Credentials \u2192 New \u2192 Header Auth\n- Header Name: `Authorization` | Header Value: `Bearer YOUR_PAGE_ACCESS_TOKEN`\n- Name it: `Facebook Graph API`\n- Get a long-lived Page Access Token from developers.facebook.com \u2192 Graph API Explorer\n- Update credential ID in the Facebook and Instagram nodes\n\n**Step 4 \u2014 Update IDs in workflow**\n- **Post to Facebook** node: replace `YOUR_FACEBOOK_PAGE_ID`\n- **Instagram Create Container** node: replace `YOUR_INSTAGRAM_USER_ID`\n  (Find IG User ID: Graph API Explorer \u2192 GET /me?fields=instagram_business_account)\n\n**Step 5 \u2014 Activate and test**\n- Activate this workflow\n- Message your bot: `/image a healthcare professional at a modern workstation`\n\n**PiAPI credential:** Already connected \u2014 `md5n1H9xDvznGBAK`",
        "width": 560,
        "height": 560,
        "color": 5
      },
      "id": "flux0001-0000-0000-0000-000000000001",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -400
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "flux0002-0000-0000-0000-000000000002",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "maxxam-telegram-image-bot",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "SETUP: Replace TELEGRAM_CREDENTIAL_ID with your Telegram API credential ID."
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500 MAXXAM AI \u2014 Redacted Implementation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Purpose: Process data at the Parse Message stage\n// Inputs:  See upstream node output\n// Outputs: See downstream node input\n//\n// This node implements proprietary MAXXAM AI logic.\n// Full implementation is available to MAXXAM AI clients.\n//\n// \u2192 Book a discovery call: https://tinyurl.com/maxxam-call\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nreturn { json: {} }; // stub \u2014 see full implementation\n"
      },
      "id": "flux0003-0000-0000-0000-000000000003",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "notes": "Extracts chat_id and prompt from the Telegram message. Strips /image prefix if present."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'Qubico/flux1-dev', task_type: 'txt2img', input: { prompt: $json.prompt, width: 1024, height: 1024, steps: 20, guidance_scale: 3.5 } }) }}",
        "options": {}
      },
      "id": "flux0004-0000-0000-0000-000000000004",
      "name": "Submit to Flux",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "md5n1H9xDvznGBAK",
          "name": "PiAPI"
        }
      },
      "notes": "Submits image generation job to PiAPI Flux. Returns task_id for polling. PiAPI credential already configured."
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500 MAXXAM AI \u2014 Redacted Implementation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Purpose: Process data at the Extract Task ID stage\n// Inputs:  See upstream node output\n// Outputs: See downstream node input\n//\n// This node implements proprietary MAXXAM AI logic.\n// Full implementation is available to MAXXAM AI clients.\n//\n// \u2192 Book a discovery call: https://tinyurl.com/maxxam-call\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nreturn { json: {} }; // stub \u2014 see full implementation\n"
      },
      "id": "flux0005-0000-0000-0000-000000000005",
      "name": "Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "notes": "Extracts task_id from PiAPI response and re-attaches chat_id + prompt for downstream nodes."
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 45,
        "unit": "seconds"
      },
      "id": "flux0006-0000-0000-0000-000000000006",
      "name": "Wait 45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "notes": "Flux typically generates in 20-40 seconds. 45s wait covers most jobs."
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "flux0007-0000-0000-0000-000000000007",
      "name": "Poll Flux Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "md5n1H9xDvznGBAK",
          "name": "PiAPI"
        }
      },
      "notes": "GET task status from PiAPI. Response: { data: { status: 'completed', output: { image_url: '...' } } }"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500 MAXXAM AI \u2014 Redacted Implementation \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n//\n// Purpose: Process data at the Extract Image URL stage\n// Inputs:  See upstream node output\n// Outputs: See downstream node input\n//\n// This node implements proprietary MAXXAM AI logic.\n// Full implementation is available to MAXXAM AI clients.\n//\n// \u2192 Book a discovery call: https://tinyurl.com/maxxam-call\n// \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nreturn { json: {} }; // stub \u2014 see full implementation\n"
      },
      "id": "flux0008-0000-0000-0000-000000000008",
      "name": "Extract Image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "notes": "Normalizes PiAPI response \u2014 handles image_url string or image_urls array. Carries forward context."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-flux-ready",
              "leftValue": "={{ $json.flux_status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "flux0009-0000-0000-0000-000000000009",
      "name": "Is Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ],
      "notes": "True branch: image is ready, proceed to download and post. False branch: timed out, send error to Telegram."
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "flux0010-0000-0000-0000-000000000010",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        180
      ],
      "notes": "Downloads image as binary data (needed for LinkedIn upload). Image URL from PiAPI is time-limited \u2014 download immediately."
    },
    {
      "parameters": {
        "person": "urn:li:person:YOUR_LINKEDIN_PERSON_URN",
        "text": "={{ $('Extract Image URL').first().json.prompt }}\n\nGenerated with AI \u00b7 MAXXAM AI Automation\n\ud83d\udd17 www.maxxam.ai",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "id": "flux0011-0000-0000-0000-000000000011",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2220,
        180
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      },
      "notes": "SETUP: Replace YOUR_LINKEDIN_PERSON_URN with your LinkedIn URN (found in your profile URL). Replace LINKEDIN_CREDENTIAL_ID with your OAuth2 credential ID."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_FACEBOOK_PAGE_ID/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Extract Image URL').first().json.image_url, caption: $('Extract Image URL').first().json.prompt + '\\n\\nGenerated with AI \u00b7 MAXXAM AI Automation\\n\ud83d\udd17 www.maxxam.ai', published: true }) }}",
        "options": {}
      },
      "id": "flux0012-0000-0000-0000-000000000012",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FACEBOOK_TOKEN_ID",
          "name": "Facebook Graph API"
        }
      },
      "notes": "SETUP: Replace YOUR_FACEBOOK_PAGE_ID with your Page ID. Create a new Header Auth credential with Authorization: Bearer YOUR_PAGE_ACCESS_TOKEN \u2014 replace FACEBOOK_TOKEN_ID with that credential's ID."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_INSTAGRAM_USER_ID/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $('Extract Image URL').first().json.image_url, caption: $('Extract Image URL').first().json.prompt + '\\n\\nGenerated with AI \u00b7 MAXXAM AI\\n\ud83d\udd17 www.maxxam.ai', media_type: 'IMAGE' }) }}",
        "options": {}
      },
      "id": "flux0013-0000-0000-0000-000000000013",
      "name": "Instagram: Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FACEBOOK_TOKEN_ID",
          "name": "Facebook Graph API"
        }
      },
      "notes": "SETUP: Replace YOUR_INSTAGRAM_USER_ID. Uses same Facebook Graph API credential as the Facebook post. Returns creation_id for the publish step."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_INSTAGRAM_USER_ID/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ creation_id: $json.id }) }}",
        "options": {}
      },
      "id": "flux0014-0000-0000-0000-000000000014",
      "name": "Instagram: Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FACEBOOK_TOKEN_ID",
          "name": "Facebook Graph API"
        }
      },
      "notes": "Publishes the Instagram container created in the previous step. creation_id comes from $json.id in the container response."
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').first().json.chat_id }}",
        "text": "=\u2705 *Posted!*\n\n*Prompt:* {{ $('Extract Image URL').first().json.prompt }}\n\nPosted to LinkedIn, Facebook, and Instagram.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "flux0015-0000-0000-0000-000000000015",
      "name": "Telegram: Success Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3100,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Message').first().json.chat_id }}",
        "text": "=\u274c *Image generation timed out.*\n\nFlux didn't complete within 45 seconds. Please try again in a moment.\n\n*Prompt was:* {{ $('Parse Message').first().json.prompt }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "flux0016-0000-0000-0000-000000000016",
      "name": "Telegram: Error Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Fires when Flux doesn't complete in time. User can retry with the same prompt."
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Submit to Flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Flux": {
      "main": [
        [
          {
            "node": "Extract Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task ID": {
      "main": [
        [
          {
            "node": "Wait 45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45s": {
      "main": [
        [
          {
            "node": "Poll Flux Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Flux Status": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Instagram: Create Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram: Create Container": {
      "main": [
        [
          {
            "node": "Instagram: Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram: Publish": {
      "main": [
        [
          {
            "node": "Telegram: Success Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    "maxxam-ai",
    "social-media",
    "flux",
    "image-generation",
    "telegram"
  ],
  "meta": {
    "instanceId": "maxxam-ai",
    "createdWith": "MAXXAM AI workflow builder",
    "creationDate": "2026-03-27"
  }
}